/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffe6f2; /* Light pink */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff99cc; /* Darker pink */
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff66b2;
}
